### tipos de variaveis em python:

In [4]:
nomes = ["Gustavo","Yves"]
idades = [28,21]
ativos = [True,False]

print("\n{:<8}{:<7}{:<0}".format("nome","idade","ativo"))
print("{:<8}{:<7}{:<0}".format(nomes[0],idades[0],ativos[0]))
print("{:<8}{:<7}{:<0}".format(nomes[1],idades[1],ativos[1]))

nome    idade  ativo
Gustavo 28     1
Yves    21     0

### tipos de saida em python:

In [5]:
nome = "Yves"
idade = 22
ativo = True

print("ola meu nome e",nome,".Tenho ",idade,"anos de idade.")
print("\n{:<6}{:<7}{:<0}".format("nome","idade","ativo"))
print("{:<6}{:<7}{:<0}".format(nome,idade,ativo))

ola meu nome e Yves .Tenho  22 anos de idade.

nome  idade  ativo
Yves  22     1

### tipos de listas e tuplas:

In [15]:
nomes = ["Gustavo","Yves"]
idades = [28,21]
ativos = [True,False]

print("\n{:<9}{:<7}{:<0}".format("nome","idade","ativo"))
print("{:<9}{:<7}{:<0}".format(nomes[0],idades[0],ativos[0]))
print("{:<9}{:<7}{:<0}".format(nomes[1],idades[1],ativos[1]))

nome     idade  ativo
Gustavo  28     1
Yves     21     0

In [16]:
pessoa1 = ("Gustavo",28,True)
pessoa2 = ("Yves",21,False)

print("\n{:<9}{:<7}{:<0}".format("nome","idade","ativo"))
print("{:<9}{:<7}{:<0}".format(pessoa1[0],pessoa1[1],pessoa1[2]))
print("{:<9}{:<7}{:<0}".format(pessoa2[0],pessoa2[1],pessoa2[2]))

nome     idade  ativo
Gustavo  28     1
Yves     21     0

In [17]:
pessoa = [
    ("Gustavo",28,True),
    ("Yves",21,False)
]

print("\n{:<9}{:<7}{:<0}".format("nome","idade","ativo"))
print("{:<9}{:<7}{:<0}".format(pessoa[0][0],pessoa[0][1],pessoa[0][2]))
print("{:<9}{:<7}{:<0}".format(pessoa[1][0],pessoa[1][1],pessoa[1][2]))

nome     idade  ativo
Gustavo  28     1
Yves     21     0

### estrutura de decisão simples, aninhado e composto:

In [18]:
nome = "Gustavo"
idade = 28

if (idade>=18):
    print(nome,"é maior de idade")
else:
    print(nome,"é menor de idade")

Gustavo é maior de idade

In [19]:
nome = "Gustavo"
idade = 28
salario = 2000

if(idade>=18):
    print(nome,"é maior de idade")
    if (salario>1320):
        print("Possui salário acima do salário mínimo!")
    else:
        print("Possui salário abaixo ou igual ao salário mínimo!")
else:
    print(nome,"é menor de idade")

Gustavo é maior de idade
Possui salário acima do salário mínimo!

In [24]:
nome = "Gustavo"
idade = 18
renda = 3500
entrada = 10000
serasa = False 
situação = True

if(
    (idade>=18)
    and(renda>=2500)
    and(serasa==False)
):
    if(
       (renda>=5000)
       or(entrada>=10000)
    ):
        situação = True
        print("aprovado")
    else:
        print("analisar")
else:
    situação = False
    print("reprovado")

aprovado